.footer{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;
    background-color:var(--light-black-color);
    color: white;
}
.footer .group1 img{
    width: 17rem;
}
.footer .group1 p{
    font-size: 1.3rem;
}
.footer .group2{
    font-size: 2rem;
}
.footer .group2 p:nth-child(2){
    margin-top: 0.8rem;
}
.footer .group3{
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-between;
    width: 30rem;
    font-size: 1.3rem;
}
.footer .group3 p:nth-child(1){
    font-size: 2rem;
}

.footer .group3 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}