@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

.section1{
   height: 100vh;
   width: 100%;
}
.headerContainer{
    padding: 0rem 9rem;
    height: 13%;
}
.headerContainer .headerBox{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: .3rem;
    align-items: center;
    box-shadow: 0rem 0.1rem 0.1rem -0.1rem #313640;
}
.headerContainer .logoContainer{
    width: 22rem;
}
.headerContainer .logoContainer img{
    width: 100%;
}
.headerContainer .ulContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29rem;
}
.headerContainer .ulContainer ul{
    font-weight: 400;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
.headerContainer .ulContainer ul li a{
    color: var(--light-black-color);
}
.headerContainer .ulContainer ul li:nth-child(1):after,
.headerContainer .ulContainer ul li:nth-child(2):after,
.headerContainer .ulContainer ul li:nth-child(3):after,
.headerContainer .ulContainer ul li:nth-child(4):after

{
    content: '';
    width: 0;
    height: 0.2rem;
    position: absolute;
    background-color: var(--primary-color);
    top: 6rem;
}
.headerContainer .ulContainer ul li:nth-child(1):after{
    left: 47rem;
}
.headerContainer .ulContainer ul li:nth-child(2):after{
    left: 58rem;
}
.headerContainer .ulContainer ul li:nth-child(3):after{
    left: 70rem;
}
.headerContainer .ulContainer ul li:nth-child(1):hover::after,
.headerContainer .ulContainer ul li:nth-child(2):hover::after,
.headerContainer .ulContainer ul li:nth-child(3):hover::after,
.headerContainer .ulContainer ul li:nth-child(3):hover::after

{
    width: 8rem;
}
.headerContainer .login_logout_section{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}
.registerBtn a, .loginBtn a{
    color: white;
}
.registerBtn, .loginBtn{
    font-weight: 400;
    background-color:var(--primary-color);
    color: white;
    border-radius: .2rem;
    padding: .8rem 2rem;
}
.loginBtn{
    background-color:var(--secondary-color);
    padding: .8rem 1rem;
}
.headerBox .darkSwitch{
    border: 1px solid;
    display: flex;
    font-size: 2rem;
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    color: #313640;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: all 1s;
}
.circle{
    position: relative;
    /* right: 3rem; */
}