.container .section1 .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    color: white;
}
.container .section1 .text p:nth-child(1){
    font-size: 4rem;
    font-weight: 700;
}
.container .section1 .text p:nth-child(2){
    font-size: 1.9rem;
    font-weight: 600;
}
.container .section1 .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .section1 .image img{
    width: 38rem;
    margin-top: 4rem;
}